<div class="row justify-content-start mt-2">
    <div class="col-12 col-md-4 pt-1 pb-1">
        <button class="btn btn-primary" (click)="getTextFromDb()">Get text from db</button>
    </div>
    <div class="col-12 col-md-4 pt-1 pb-1">
        <button class="btn btn-danger" (click)="getTextFromFile()">Get text from file</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <textarea [(ngModel)]="text" rows=4 cols=50></textarea>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <button class="btn btn-dark" (click)="countWords()">Count words</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <span class="mr-1">Number of words in the text:</span>
        <span class="">{{ numberOfWords }}</span>
    </div>
</div>
