<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
     <modules>
        <remove name="WebDAVModule" />
    </modules>
    <aspNetCore processPath="dotnet" arguments=".\OrionInnvetion.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="test" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>